<!DOCTYPE html>
<html lang="ko">

<style></style>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>YPIM</title>

    <script>

        $(document).ready(function(){

            var makeHtml = function(val){

                var strong = $("<strong />", {
                    text : val['title']
                })

                var p = $("<p />",{

                }).append(strong).css('margin-top', '10px').css('height', ' 70px');

                var img = $("<img />", {
                    src : val['img'],
                    width:"400",
                    height:"300"
                })

                var second_div = $("<div />", {}).addClass('thumbnail').css("cursor","pointer")

                second_div.append(img).append(p)


                $val_href = val['href']

                var a = $("<a />", {
                    href : $val_href,
                    target : "_blank"
                })

                var first_div = $("<div />", {}).addClass('col-sm-4').append(second_div)
                a.append(first_div)
                $('#input_data').append(a)
            }

            $.ajax({
              url: location.href,
              type: 'POST'
            }).done(function( data ) {
                if( data == "crawler" ){
                     var strong = $("<strong />", {
                        text : "{{query}}와 관련된 데이터를 웹에서 수집하고 있습니다. 약 1분 후 다시 검색해주세요.",

                    }).css({'color':'white', 'fontSize':'20px'})
                    $('#input_data').append(strong)

                } else {
                    if (data.length > 0){
                        $.each(data, function(key, val){
                              makeHtml(val)
                        }); //end each
                    } else {
                        var strong = $("<strong />", {
                        text : "{{query}}와 관련된 데이터를 웹에서 찾지 못했습니다.",

                        }).css({'color':'white', 'fontSize':'20px'})
                        $('#input_data').append(strong)
                    }
                }
           });
        });

     function input_listener(){
            var value = document.getElementById('query').value
            location.href='/search/q='+value
        }
</script>
</head>
<body style="background:rgb(42,44,43)">


<nav class="navbar navbar-fixed-top" style="margin-top:1%">
    <center>
        <div style="width:80%">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                <input style="background:rgb(211,206,170)" type="text" id="query" class="form-control input-lg" name="password" autofocus onkeydown="javascript:if(event.keyCode==13){ input_listener() }">
            </div>
        </div>
    </center>
</nav>

<div class="bg-1" style="margin-top:120px">
    <div class="container">
        <div class="row text-center" id="input_data">



        </div>
    </div>
</div>

</body>
</html>